version: '2'

services:
    sms-bot:
        image: sms-bot
        container_name: sms-bot
        ports:
            - 3000:3000
        networks:
            - code-network
        volumes:
            - ./src/:/usr/src/app/src/
        environment:
            - TOKEN=INSERT_TOKEN_HERE

networks:
    code-network:
        driver: bridge